html{
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
	background-repeat: no-repeat;
	background-position: top;
	background-color: #666666;
	background-size: cover;
	min-height: 100%;
	min-width: 100%;
	top: 0;
	left: 0;
}

.welcome_header {
	padding: 70px;
	text-align: center;
	position: relative;
	width: 100%;
	top: 15%;
}

.search-containers{
	display: block;
	position: relative;
	top: 15%;
	margin-left: 7.5%;
	align-items: center;
	text-align: center;
	align-content: center;
	align-self: center;

}

.parent {
	top: 80px;
	margin-bottom: 80px;
	position: relative;
	background-color: white;
	width: 700px;
	padding: 40px 20px;
	left: 50%;
	transform: translateX(-50%);
}

input[type=text], select {
	border-radius: 12px;
	border: 1px solid #ccc;
	padding: 12px 10px;
	margin: 5px 0 15px 0;
	width: 100%;
	box-sizing: border-box;
	font-size: 16px;
	text-align: center;
}

.selection-choices select:focus {
    outline: none;
}

.dropbtn {
	background-color: white;
	color: #2c2c2c;
	padding: 12px 10px;
	border-radius: 8px;
	width: 100%;
	font-size: 16px;
	border: none;
	margin: 5px 0 0 0;
}

.dropdown {
	display: inline-block;
	width: 100%;
}

.dropdown-content {
	display: none;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 12px;
}

.dropdown-content a {
	color: black;
	padding: 12px 10px;
	text-decoration: none;
	display: block;
	border-radius: 12px;
}

.dropdown-content a:hover {background-color: #aaaaaa}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #aaaaaa;}

h1 {
	position: relative;
	color: white;
	top: 20px;
	font-size: 80px;
}

input:focus, button {
	outline: 0;
}