.buttons {
	position: relative;
	width: 600px;
	height: auto;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 50px;
}

.menu_button {
	margin-bottom: 15px;
	background-color: white;
	border-width: 0px;
	height: 100px;
	text-align: left;
	transition: box-shadow 0.1s;
	width: 100%;
	position: relative;
}

.item_price, .menu_name {
	position: absolute;
	line-height: 100px;
	font-size: 16px;
}

.item_price {
	right: 25px;
	font-weight: bold;
}

.menu_name {
	left: 50px;
}

.right {
	float: right;
	height: 100px;
}

.left {
	float: left;
	height: 100px;
}

.menu_button:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

.page_title {
	position: absolute;
	text-align: center;
	top: 40px;
	font-size: 24px;
	font-weight: bold;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

.left .vertical_line {
	left: 280px;
}

.right .vertical_line {
	right: 90px;
}

.vertical_line {
	position: absolute;
    border-style: none solid none none;
	border-image: linear-gradient(to bottom,rgba(0,0,0,0), #aaaaaa, rgba(0,0,0,0)) 1 100%;
	border-width: 1px;
	width: 1px;
	height: 100px;
}

button:focus {
	outline: 0;
}

button:hover {
	cursor: pointer;
}

button {
	color: #2C2C2C;
}
