.buttons {
	position: relative;
	width: 700px;
	height: auto;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 50px;
}

.restaurant_button {
	margin-bottom: 10px;
	background-color: white;
	border-width: 0px;
	height: 100px;
	text-align: left;
	transition: box-shadow 0.1s;
	width: 100%;
	position: relative;
}

.restaurant_review, .restaurant_name, .restaurant_address, .restaurant_style, .restaurant_hours {
	position: absolute;
	line-height: 100px;
	font-size: 16px;
}

.restaurant_img, .restaurant_star {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.restaurant_hours {
	font-size: 12px;
	top: 5px;
	left: 120px;
	color: #aaaaaa;
}

.restaurant_star {
	right: 60px;
}

.restaurant_review {
	right: 30px;
	font-weight: bold;
}

.restaurant_img {
	left: 15px;
}

.restaurant_name {
	left: 120px;
	top: -10px;
}

.restaurant_address {
	left: 120px;
	top: 20px;
	color: #aaaaaa;
	font-size: 12px;
}

.restaurant_title {
	position: relative;
	text-align: center;
	top: 30px;
	margin-bottom: 20px;
}

.right {
	float: right;
	height: 100px;
}

.left {
	float: left;
	height: 100px;
}

.restaurant_button:hover {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

.page_title {
	position: absolute;
	text-align: center;
	top: 40px;
	font-size: 24px;
	font-weight: bold;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}

.left .vertical_line {
	left: 280px;
}

.right .vertical_line {
	right: 120px;
}

.vertical_line {
	position: absolute;
    border-style: none solid none none;
	border-image: linear-gradient(to bottom,rgba(0,0,0,0), #aaaaaa, rgba(0,0,0,0)) 1 100%;
	border-width: 1px;
	width: 1px;
	height: 100px;
}

.restaurant_price {
	right: 247px;
	top: 20px;
	color: #aaaaaa;
	font-size: 12px;
}

.restaurant_style {
	right: 250px;
	font-size: 16px;
}

.restaurant_style, .restaurant_price {
	position: absolute;
	line-height: 100px;.
}

button:focus {
	outline: 0;
}

button:hover {
	cursor: pointer;
}

button {
	color: #2C2C2C;
}