body {
    background-color: white;
}
h1  {
    color: blue;
}
p {
    color: red;
}
table, th, td {
    border: 1px solid black;
    text-align: left;
}
caption {
    margin: 15px;
}
th, td {
    padding: 15px;
}
.button {
    font: bold 18px;
    background-color: red;
    color: white;
    padding: 15px 25px;
    margin: 15px 0px;
    position: absolute;
 }
